body {
  font-family: "Courier New", Courier, monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #000;
}

#canvas-div
{
  
}

#fail
{
}

#success
{
 
}

canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}

#success a{
  position: relative;
  margin: 0 auto;
  display: block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #03e9f4;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;

}


#success a:nth-child(1)
{
  filter: hue-rotate(290deg);
}

#success a:hover
{
  background: #03e9f4;
  text-decoration: none;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 200px #03e9f4;
}
#success a span
{
  position: absolute;
  display: block;
}
#success a span:nth-child(1)
{
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e954);
  animation: animate1 1s linear infinite;
}

@keyframes animate1
{
  0%
  {
    left: -100%;
  }
  50%, 100%
  {
    left: 100%;
  }
}
#success a span:nth-child(2)
{
  bottom: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e954);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2
{
  0%
  {
    top: -100%;
  }
  50%, 100%
  {
    top: 100%;
  }
}
#success a span:nth-child(3)
{
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e954);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3
{
  0%
  {
    right: -100%;
  }
  50%, 100%
  {
    right: 100%;
  }
}

#success a span:nth-child(4)
{
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e954);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4
{
  0%
  {
    bottom: -100%;
  }
  50%, 100%
  {
    bottom: 100%;
  }
}


#fail a{
  position: relative;
  margin: 0 auto;
  display: block;
  padding: 25px 30px;
  margin: 40px 0;
  color: #ff0000;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;

}



#fail a:hover
{
  background: #ff0000;
  text-decoration: none;
  color: #050801;
  box-shadow: 0 0 5px #ff0000,
              0 0 25px #ff0000,
              0 0 50px #ff0000,
              0 0 200px #ff0000;
}
#fail a span
{
  position: absolute;
  display: block;
}
#fail a span:nth-child(1)
{
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ff0000);
  animation: animate1 1s linear infinite;
}

@keyframes animate1
{
  0%
  {
    left: -100%;
  }
  50%, 100%
  {
    left: 100%;
  }
}
#fail a span:nth-child(2)
{
  bottom: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #ff0000);
  animation: animate2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes animate2
{
  0%
  {
    top: -100%;
  }
  50%, 100%
  {
    top: 100%;
  }
}
#fail a span:nth-child(3)
{
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #ff0000);
  animation: animate3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes animate3
{
  0%
  {
    right: -100%;
  }
  50%, 100%
  {
    right: 100%;
  }
}

#fail a span:nth-child(4)
{
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ff0000);
  animation: animate4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes animate4
{
  0%
  {
    bottom: -100%;
  }
  50%, 100%
  {
    bottom: 100%;
  }
}
