#display-score {
	text-align: center;
	color: white;
}

body {
	background-color: black;
	font-family: "Courier New", Courier, monospace;

}
h3 {
	color: red;
}

img {
	width: 100%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}